/.vs
/bin
/obj
/SocialWebApp/bin
/SocialWebApp/obj
/SocialCommon/bin
/SocialCommon/obj
/SocialApp.Models/bin
/SocialApp.Models/obj
/Social.Repositories/bin
/Social.Repositories/obj
/Social.WebApp/bin
/Social.WebApp/obj
/Social.WebApp/*.user
/Basic.zip
/Basic_old.zip
/Social/Social.WebApp/bin
/Social/Social.WebApp/obj
/Social/Social.WebApp/*.user
/Social/Social.WebApp/.config
/Social/Social.Repositories/bin
/Social/Social.Repositories/obj
/Social/Social.Models/bin
/Social/Social.Models/obj
/Social/Social.Common/bin
/Social/Social.Common/obj
/Social/.vs
/Social/Social.WebApp/Properties
