@model Social.Models.DbModels.DbRole
@{
    ViewData["Title"] = "Create";
}

<div class="card dz-card" id="accordion-one">
    <form asp-action="Create" asp-controller="Roles" asp-area="Administration" method="post" data-parsley-validate>
        <div class="card-header flex-wrap">
            <h4 class="card-title">Create Role</h4>
        </div>
        <div class="card-body pt-0">
            <div class="row">
                <div class="mb-3 col-md-4 col-md-4">
                    <input type="text" class="form-control" placeholder="Admin/SuperAdmin/User" asp-for="Name" required>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <a class="btn btn-secondary btn-sm" asp-action="" asp-controller="Roles" asp-area="Administration">Back</a>
                    <button class="btn btn-success btn-sm float-right" type="submit">Save Changes</button>
                </div>
            </div>
        </div>
    </form>
</div>
